
<div class="main">
            
    <form>
          <label for="first">
                Username:
          </label>
          <input type="text" 
                 id="first" 
                 name="first" 
                 placeholder="Enter your Username" required>

          <label for="password">
                Email:
          </label>
          <input type="text" 
          id="first" 
          name="first" 
          placeholder="Enter your Email" required>

          <div class="wrap">
                <button type="submit"
                        onclick="solve()">
                        Send OTP
                </button>
          </div>
    </form>


    <form>
        <label for="first">
              OTP:
        </label>
        <input type="text" 
               id="first" 
               name="first" 
               placeholder="Enter your OTP" >

       

        <div class="wrap">
              <button type="submit"
                      (click)="ExportTOExcel()">
                      Validate OTP
              </button>
        </div>
  </form>
   

<form>
    <label for="first">
          Enter New Password:
    </label>
    <input type="password" 
           id="first" 
           name="first" 
           placeholder="Enter your OTP" required>

           <label for="first">
            Enter Confirm Password:
      </label>
      <input type="password" 
             id="first" 
             name="first" 
             placeholder="Enter your OTP" required>

    <div class="wrap">
          <button type="submit"
                  onclick="solve()">
                  Update Password
          </button>
    </div>
</form>
</div>

