
<div class="main-menu">
    <!-- Brand Logo -->
    <div class="logo-box">
        <!-- Brand Logo Light -->
        <a href="index.html" class="logo-light">
            <img src="assets/images/brands/lg-life.png" alt="logo" class="logo-lg" height="50">
            <img src="assets/images/brands/LG_logo.png" alt="small logo" class="logo-sm" height="50">
        </a>

        <!-- Brand Logo Dark -->
        <a href="index.html" class="logo-dark">
            <img src="assets/images/logo-dark.png" alt="dark logo" class="logo-lg" height="28">
            <img src="assets/images/logo-sm.png" alt="small logo" class="logo-sm" height="28">
        </a>
    </div>
    <div data-simplebar>
        <ul class="app-menu">
            <li class="menu-item">
                <a href="#menuExtendedui" class="menu-link waves-effect waves-light">
                    <span class="menu-icon"><i class="bx bx-chalkboard-user"></i></span>
                    <span class="menu-plus1">+</span>
                    <span class="menu-text">Dashboard</span>
                    <!-- Red plus sign -->
                </a>
            </li>
            <li class="menu-item">
                <a href="#menuExtendedui" class="menu-link waves-effect waves-light">
                    <span class="menu-icon"><i class="bx bx-chalkboard-user"></i></span>
                    <span class="menu-plus1">+</span>
                    <span class="menu-text"> Scheme Comm</span>
                    <!-- Red plus sign -->
                </a>
            </li>

            <li class="menu-item">
                <a href="#menuExtendedui" data-bs-toggle="collapse" class="menu-link waves-effect waves-light">
                    <span class="menu-icon"><i class="bx bx-chalkboard-user"></i></span>
                    <span class="menu-plus">+</span>
                    <span class="menu-text"> Call Register </span>
                    <!-- Red plus sign -->
                </a>
                <div class="collapse" id="menuExtendedui">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="components-range-slider.html" class="menu-link">
                                <span class="menu-text">Customer Call Register</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="components-sweet-alert.html" class="menu-link">
                                <span class="menu-text">Stock Call Register</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="components-loading-buttons.html" class="menu-link">
                                <span class="menu-text">Excel Upload(Customer)</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="components-loading-buttons.html" class="menu-link">
                                <span class="menu-text">Excel Upload(Stock)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuExtendedui" class="menu-link waves-effect waves-light">
                    <span class="menu-icon"><i class="bx bx-chalkboard-user"></i></span>
                    <span class="menu-plus1">+</span>
                    <span class="menu-text">Reports</span>
                    <!-- Red plus sign -->
                </a>
            </li>
        </ul>
    </div>

    <!--- Menu -->

</div>